/* Enter your custom styles here */
.myCustom .sapMSLITitleOnly {
	color: rgb(191, 191, 191);
}

.myCustomControl > .sapUiTinyMargin {
	margin: 0rem !important;
}
.sapUiBlockCellContent {
	padding: 1rem !important;
}

.sapMInputBaseInner {
    padding: 0 0.5rem;
}

.sapMInputBase {
    height: 2rem;
}

.sapMInputDivWrapper {
    height: 2rem;
}

.sapMSlt {
    height: 2rem;
}

.sapMSlt > .sapMSltLabel {
	line-height: 2rem;
}

.sapMInputValHelpInner {
    height: 2rem;
    width: 2.5rem;
    line-height: 2rem;
}

.sapMSltArrow  {
	line-height: 2rem;
}